*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PR';
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: #F5F5F5;
}
.header__nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
}
.header__nav-list {
    display: flex;
    gap: 50px;
}
.header__nav-link {
    font-size: 18px;
    line-height: 30px;
    color: #000000;

}
.header__nav-btn-box {
    display: flex;
    align-items: center;
    gap: 25px;
}
.header__nav-box-link {
    font-size: 18px;
    line-height: 30px;
    color: #A68A8A;
    font-family: 'PS';
}
.header__nav-box-links {
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    font-family: 'PS';
    padding: 12px 28px;
    background: #FF5670;
}
.header__content {
    padding-top: 65px;
}
.header__content-box {
    display: flex;
    align-items: center;
    gap: 96px;
}
.header__content-title {
    font-size: 55px;
    line-height: 65px;
    color: #0F192D;
    font-weight: 600;
    font-family: 'PS';
    max-width: 644px;
    width: 100%;

}
.header__content-text {
    font-size: 20px;
    line-height: 32px;
    color: #8C93A4;
    padding-bottom: 48px;
}
.header__content-box-links {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header__content-link {
    background: #000000;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 10px 22px;
    transition: all 300ms;
}
.header__content-link:hover {
    background: #F5F5F5;
    color: #FF5670;
}
.header__content-items-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 86px;
}
.header__content-img {
    width: 33%;
}
.header__content-boxs {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.header__content-item,
.header__content-item1,
.header__content-item2,
.header__content-item3 {
    width: 25%;
    background: #3641B7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 50px;
}
.header__item-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 74px;
    color: #FFFFFF;
    font-family: 'PS';
    margin-bottom: 2px;
}
.header__item-title2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    font-family: 'PS';
    margin-bottom: 4px;
}
.header__item-text {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #E1E1E1;
    width: 171px;
}
.header__content-item1 {
    background: #FF5670;
}
.header__content-item2 {
    background: #FDB400;
}
.header__content-item3 {
    background: #000000;
}
.main__present {
    margin-top: 150px;
}
.main__present-title {
    padding-top: 60px;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #0F192D;
    text-align: center;
    font-family: 'PS';
}
.main__present-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.main__present-item {
    margin-top: 70px;
    padding: 63px 36px;
}
.main__item-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #0F192D;
    font-family: 'PS';
    margin-top: 37px;
    margin-bottom: 20px;
}
.main__present-text {
    font-size: 16px;
    line-height: 28px;
    color: #8C93A4;
    max-width: 462px;
    width: 100%;
    margin-bottom: 34px;
}
.main__present-link {
    font-size: 16px;
    line-height: 28px;
    color: #3641B7;
    font-family: 'PM';
}
.blue {
    color: #3641B7;
}
.pink {
    color: #FF5670;
}
.yellow {
    color: #FDB400;
}
.black {
    color: #000000;
}
.main__arrow-box {
    display: flex;
    align-items: center;
    gap: 15px;
}
.service {
    margin: 80px 0;
}
.main__service-box {
    display: flex;
    gap: 70px;
}
.main__service-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #0F192D;
    font-family: 'PS';
}
.main__service-text {
    font-size: 18px;
    line-height: 30px;
    color: #8C93A4;
    max-width: 421px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 31px;
}
.main__service-item {
    display: flex;
    flex-direction: column;
    
}
.service-item-box {
    display: flex;
    align-items: center;
}
.itemss {
    margin: 34px 0;
}
.main__service-span {
    font-size: 40px;
    line-height: 38px;
    color: #DCDCDC;
    font-weight: 600;
    font-family: 'PS';
}
.service__item-img {
    margin-left: 9px;
    margin-right: 29px;
}
.main__service-item-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #0F192D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'PS';
    margin-top: 12px;
}
.main__service-item-title2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #0F192D;
    font-family: 'PS';
    margin-top: 12px;
}
.service-box {
    display: flex;
    justify-content: center;
    gap: 33px;
    margin-top: 24px;

}
.main__service-info {
    font-size: 16px;
    line-height: 28px;
    color: #8C93A4;
}

.clients {
    margin-top: 150px;
    margin-bottom: 80px;
}
.main__client-title {
    font-size: 40px;
    line-height: 50px;
    color: #0F192D;
    font-weight: 600;
    font-family: 'PS';
    max-width: 567px;
    width: 100%;
}
.main__client-text {
    font-size: 18px;
    line-height: 30px;
    color: #8C93A4;
    max-width: 534px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 58px;
}
.main__client-item {
    display: flex;
    gap: 15px;
}
.client__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #0F192D;
    font-family: 'PS';
    max-width: 304px;
    width: 100%;
}
.client__text {
    font-size: 16px;
    line-height: 28px;
    color: #8C93A4;
    max-width: 355px;
    width: 100%;
}
.clientitem {
    margin: 38px 0;
}
.main__clients-right {
    position: relative;
}
.client__right-img2 {
    position: absolute;
    bottom: -50px;
    left: -130px;
    
}
.main__clients {
    display: flex;
    gap: 32px;
}
.busines {
    margin-top: 150px;
    margin-bottom: 80px;
}
.main__busines {
    display: flex;
    gap: 123px;
}
.main__busines-title {
    font-size: 40px;
    line-height: 50px;
    color: #0F192D;
    font-family: 'PS';
    max-width: 378px;
    width: 100%;    
    margin-bottom: 37px;
}
.main__busines-left-box {
    position: relative;
}
.busines__skobka {
    position: absolute;
    top: 150px;
    right: -30px;
}
.arrow__link {
    border: 1px solid rgba(255, 160, 40, 0.8);
    background: #F5F5F5;
    border-radius: 50%;
    padding: 18px 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    transition: all 300ms;
}
.arrow__link:hover {
    background: #FF5670;
    border: 2px solid #FFFFFF;
    transform: scale(1.5);
}
.arrow__box {
    margin-top: 14px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.main__busines-right-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #0F192D;
    font-family: 'PS';
    max-width: 374px;
    width: 100%;
}
.main__busines-right-text {
    font-size: 18px;
    line-height: 30px;
    color: #8C93A4;
    max-width: 433px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 12px;

}
.main__busines-title2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #0F192D;
    font-family: 'PS';
    margin-top: 15px;
}
.main__busines-text2 {
    font-size: 16px;
    line-height: 28px;
    color: #8C93A4;
    margin-top: 3px;
}
.main__busines-right-box {
    position: relative;
}
.right__box-img {
    position: absolute;
    top: -50px;
    left: 0px;
}
.blog {
    margin-top: 150px;
    margin-bottom: 50px;
}
.main__blog-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #0F192D;
    font-family: 'PS';
    margin-bottom: 13px;
    max-width: 306px;
    width: 100%;
}
.main__blog-span {
    font-size: 16px;
    line-height: 28px;
    color: #8C93A4;
}
.main__blog-text {
    font-size: 18px;
    line-height: 30px;
    color: #8C93A4;
    max-width: 544px;
    width: 100%;
    margin-top: 36px;
    margin-bottom: 27px;
}
.main__blog-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #0F192D;
    font-family: 'PS';
}
.blog__arrow-box {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: max-content;
    border-bottom: 1px solid #FFA028;
}
.main__blog {
    display: flex;
    justify-content: space-between; 
}
.main__blog-right {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.main__blog-title-right {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    color: #0F192D;
    max-width: 510px;
    width: 100%;
}
.blogitem {
    margin-top: 159px;
}
.blogtitle {
    max-width: 503px;
    width: 100%;
    font-size: 28px;
    line-height: 38px;
    color: #0F192D;
    font-family: 'PS';
    margin: 25px 0;

}
.box__link {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__blog-btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    font-family: 'PS';
    padding: 15px 42px;
    background: #FF5670;
}
.info {
    padding-top: 150px;
    padding-bottom: 50px;
}
.main__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 211px;
    background: #FFA028;
    padding: 92px 102px 92px 137px;
}
.main__info-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    font-family: 'PS';
    max-width: 567px;
    width: 100%;
}
.main__info-text {
    font-size: 18px;
    line-height: 30px;
    color: #F6F5F5;
    margin-top: 16px;   
    max-width: 501px;
    width: 100%;
}
.main__info-link {
    background: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #FFA028;
    padding: 18px 38px;
}
.footer {
    padding: 100px 0;
}
.footer__box {
    display: flex;
    gap: 135px;
}
.footer__item-titel {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #0F192D;
    font-family: 'PS';
}
.footer__text {
    font-size: 18px;
    line-height: 30px;
    color: #8C93A4;
    margin-top: 20px;
    max-width: 347px;
    width: 100%;
}
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-top: 32px;
}
.footer__link {
    font-size: 18px;
    line-height: 30px;
    color: #8C93A4;
}